@{
    ViewData["Title"] = "Fejl";
}

<h1 class="text-danger">Fejl</h1>
<h2 class="text-danger">Der opstod en fejl ved behandling af din forespørgsel.</h2>

<p>Kontakt support hvis problemet fortsætter.</p>
