.page {
    display: grid;
    grid-template-columns: 200px 1fr;  /* Sidebar + Col2 + Col3 */
    grid-template-rows: auto 1fr auto      /* Col2/Col3 top + middle, footer (constant size) */
}



main {
    grid-column: 2 / 4;  /* Spans Col2 + Col3 */
    grid-row: 1 / 3;     /* Spans rows 1-2 */
}



.sidebar {
    background-color: black;
    border-radius: 0 30px 30px 0;
    grid-column: 1;
    grid-row: 1 / 4;  /* Spans all 3 rows */
    height: 100vh;
    position: sticky;
    top: 0;
}



header {
    background-color: white;
    border-bottom: 0.1vh solid #d6d5d5;
    height: 8vh;

    display: flex;
    justify-content: space-between;    
    align-items: center;
    padding: 0px 25px 0px 25px;
}
.header-right {
    display: flex;
    gap: 20px;
    align-items: center;
    width: auto;
    height: auto;
}
.header-date-input {
    height: auto;
    width: auto;
}
.header-pincode-input {
    height: auto;
    width: 6rem;
}
.header-logout-button {
    height: auto;
    width: auto;
}



footer {
    grid-column: 1 / 4;  /* Spans Col2 + Col3 only */
    grid-row: 3;
    height: 6vh;       /* Adjust constant height as needed */
    background-color: rgba(255, 222, 7, 0.765);
    border-top: 0.1vh solid #d6d5d5;
}
.footer-container-flex {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 0px 100px 0px 280px;
}
.footer-text-box {
    font-size: 1.8vw - 0.5rem;
    padding:0.5vw 8px 8px 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}
@media (max-width: 1600px) {
    .footer {
        visibility: hidden;
    }
}


@media (max-width: 640.98px) {
    .page {
        grid-template-columns: 1fr;
    }
    
    .sidebar {
        grid-column: 1;
        grid-row: 1;
    }
    
    main {
        grid-column: 1;
        grid-row: 2;
    }
    
    .footer {
        grid-column: 1;
        grid-row: 3;
    }
}

#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
