@using Microsoft.AspNetCore.Components.Authorization
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SlottetBlazor</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="icon-base icons-people" aria-hidden="true"></span> Oversigt
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Tasks">
                <span class="icon-base icons-clipboard" aria-hidden="true"></span> Opgaver
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="phoneNumbers">
                <span class="icon-base icons-phone" aria-hidden="true"></span> Telefonnumre
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <a class="nav-link" href="/display" target="_blank">
                <span class="icon-base icons-building" aria-hidden="true"></span> Storskærm 🖥️
            </a>
        </div>

        <hr class="nav-divider"/>


                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="employees">
                        <span class="icon-base icons-employee" aria-hidden="true"></span> Ansatte
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="locations">
                        <span class="icon-base icons-building" aria-hidden="true"></span> Lokationer
                    </NavLink>
                </div> 
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="auditLog">
                        <span class="icon-base icons-activitylog" aria-hidden="true"></span> Log
                    </NavLink>
                </div> 

        
    </nav>
</div>

