<div class="resident-card-container">
    <table class="resident-header-table">
        <tr>
            <th>Navn</th>
            <th>Værelses Nr.</th>
        </tr>
        <tr>
            <td>
                <select class="dropdown-risk-input">
                    <option value="">Risiko</option>
                    <option value="low">Lav</option>
                    <option value="medium">Medium</option>
                    <option value="high">Høj</option>
                </select>
            </td>
            <td>
                <select class="dropdown-mood-input">
                    <option value="">Humør</option>
                    <option value="happy">Trist</option>
                    <option value="neutral">Neutral</option>
                    <option value="sad">Glad</option>
                </select>
            </td>
        </tr>
    </table>

    
    <table class="resident-middle-table">

        <tr>
            <td>Medicin</td>
            <td><input type="text" class="table-input" /></td>
            <td><input type="text" class="table-input" /></td>
            <td><input type="text" class="table-input" /></td>
            <td><input type="text" class="table-input" /></td>
        </tr>
        <tr>
            <td>PN-tid</td>
            <td><textarea class="table-input"></textarea></td>
            <td><textarea class="table-input"></textarea></td>
            <td><textarea class="table-input"></textarea></td>
            <td><textarea class="table-input"></textarea></td>
        </tr>
    </table>


    <table class="resident-bottom-table">
        <tr>
            <td><strong>HandleDag</strong></td>
            <td><textarea class="table-input"></textarea></td>
        </tr>
        <tr>
            <td><strong>Betaling</strong></td>
            <td><textarea class="table-input"></textarea></td>
        </tr>
        <tr>
            <td><strong>Status</strong></td>
            <td><textarea class="table-input"></textarea></td>
        </tr>
    </table>
</div>